{% extends 'base.html' %}
{% load static %}
{% block title %}查看/删除测试用例{% endblock %}
{% block content %}

<script type="text/javascript">
    function checkOrCancelAll() {
        var all_check = document.getElementById("all_check");
        var all_checked = all_check.checked;
        var allCheck = document.getElementsByName("testcase_list");
        if (all_checked)
        {
            for (var i = 0; i < allCheck.length; i++){
                allCheck[i].checked = true;
            }
        }
        else{
            for (var j = 0; j < allCheck.length; j++){
                allCheck[j].checked = false;
            }
        }
    }

    function isChecked(){
        var allCheck = document.getElementsByName("test_case_list");
        for (var i = 0; i < allCheck.length; i++){
            if (allCheck[i].checked == true){
                alert("所选用例删除成功！");
                return true
            }
        }
        alert("请选择要删除的测试用例！");
        return false
    }


</script>

    <div><p style="margin-left: 5px;">测试集合名称：<b>{{ case_suite.suite_desc }}</b></p></div>
<form action="" method="POST">
    {% csrf_token %}
    <input style="margin-left: 5px;" type="submit" id="all_check1" value="删除测试用例" onclick="return isChecked()" />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" id="all_check" onclick="checkOrCancelAll();"/>用例ID</th>
                <th>用例名称</th>
                <th>所属项目</th>
                <th>所属模块</th>
                <th>编写人员</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>创建人</th>
            </tr>
            </thead>
            <tbody>

            {% for test_case in test_cases %}
            <tr>
                <td><input type="checkbox" value="{{ test_case.test_case.id }}" name="test_case_list"/></td>
                <td>{{ test_case.test_case.id }}</td>
                <td><a href="{% url 'test_case_detail' test_case.test_case.id %}">{{ test_case.test_case.case_name }}</a></td>
                <td>{{ test_case.test_case.belong_project.name }}</td>
                <td>{{ test_case.test_case.belong_module.name }}</td>
                <td>{{ test_case.test_case.creator }}</td>
                <td>{{ case_suite.test_case.create_time|date:"Y-n-d H:i" }}</td>
                <td>{{ case_suite.test_case.update_time|date:"Y-n-d H:i" }}</td>
                <td>{{ test_case.test_case.user.user_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{# 实现分页标签的代码 #}
{# 这里使用 bootstrap 渲染页面 #}
<div id="pages" class="text-center">
    <nav>
        <ul class="pagination">
            <li class="step-links">
                {% if test_cases.has_previous %}
                <a class='active' href="?page={{ test_cases.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第 {{ test_cases.number }} 页/共 {{ test_cases.paginator.num_pages }} 页</span>

                {% if test_cases.has_next %}
                <a class='active' href="?page={{ test_cases.next_page_number }}">下一页</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
{% endblock %}